@media screen and (max-width: 1024px) {
    .bachelors-container {
        padding: 3rem !important;
    }
  }
.bachelors-container {
    padding: 3rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-heading {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}
.webpage-description {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}
.sub-heading {
    font-weight: 600;
    font-size: 35px;
    margin: 40px 0 20px 0;
}
.mainheading {
    font-weight: 800;
    font-size: 25px;
    margin: 40px 0;
}
.description {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}
.subdescription {
    font-weight: 700;
    font-size: 15px;
    margin: 20px 0;
}
.course-container {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    // border: 1px solid rgba(0, 0, 0, 0.226);
    background-color: white;
    border-radius: 20px;
    margin: 1.5rem 0;
    padding: 2.5rem 3rem;
}
h1 {
    // font-weight: 600;
    color: #f15a2a;
}
.course-dropdown {
    width: 100%;
    margin: 10px 0 0 0;
  }
  
  .error {
    color: red;
    // font-weight: bold;
    font-style: italic;
    font-size: small;
    margin-bottom: 2rem;
  }
  
  .overall-total {
    margin-top: 2rem;
    text-align: center;
  }
  