.bachelors-container {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-heading {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin: 20px 0;
}
.sub-heading {
    font-weight: 600;
    font-size: 30px;
    margin: 20px 0;
}
.course-container {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 1rem 0;
    padding: 2rem;
}
h1 {
    font-weight: 500;
    color: #f15a2a;
}
.course-dropdown {
    width: 100%;
    margin: 10px 0;
  }
  
  .error {
    color: #f15a2a;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .overall-total {
    margin-top: 2rem;
    text-align: center;
  }
  