@media screen and (max-width: 1024px) {
    .container {
        padding: 0 3rem 6rem 3rem !important;
    }
  }
mat-form-field {
    width: 70%;
}
mat-checkbox {
    margin-left: 8px;
}
.bachelors-container {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-heading {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin: 20px 0;
}
.sub-heading {
    font-weight: 600;
    font-size: 30px;
    margin: 20px 0;
}
.course-name {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0;
}

.container {
    margin: 2rem auto;
    padding: 0 12rem 6rem 12rem;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .totals {
    margin-top: 2rem;
    h3 {
      margin-bottom: 0.5rem;
    }
  }
  
  .conclusion {
    font-size: 1.1rem;
    font-weight: bold;
    color: #f15a2a; /* Use your custom primary color here */
  }
  .sub-heading {
    font-weight: 600;
    font-size: 35px;
    margin: 60px 0;
}