mat-form-field {
    width: 70%;
}
mat-checkbox {
    margin-left: 8px;
}
.bachelors-container {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-heading {
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin: 20px 0;
}
.sub-heading {
    font-weight: 600;
    font-size: 30px;
    margin: 20px 0;
}
.course-name {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0;
}