<div class="container">

  <div class="sub-heading">Bachelor's Major</div>
  <!-- Major Selection -->
  <mat-form-field appearance="outline">
    <mat-label>Select Major</mat-label>
    <mat-select [(value)]="selectedMajor" (selectionChange)="onMajorSelect()">
      <mat-option *ngFor="let major of majors" [value]="major">
        {{ major.name }} (Required: {{ major.totalCredits }} credits)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Option for Double Major -->
  <mat-checkbox [(ngModel)]="doubleMajor" (change)="onMajorSelect()">Double Major</mat-checkbox>

  <!-- If double major is enabled, choose the second major -->
  <div *ngIf="doubleMajor">
    <mat-form-field appearance="outline">
      <mat-label>Select Second Major</mat-label>
      <mat-select [(value)]="secondMajor" (selectionChange)="onMajorSelect()">
        <mat-option *ngFor="let major of majors" [value]="major">
          {{ major.name }} (Required: {{ major.totalCredits }} credits)
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Display Courses for Selected Major(s) -->
  <div *ngIf="selectedMajor">
    <h2>{{ selectedMajor.name }} Courses</h2>
    <div *ngFor="let course of selectedMajor.courses">
      <mat-checkbox
        (change)="onCourseChange(selectedMajor, course.value, $event)">
        {{ course.label }}
      </mat-checkbox>
    </div>
    <h2>{{ selectedMajor.additionCourseName }} Courses</h2>
    <div *ngFor="let course of selectedMajor.additionalCourses">
      <mat-checkbox
        (change)="onCourseChange(selectedMajor, course.value, $event)">
        {{ course.label }}
      </mat-checkbox>
    </div>
  </div>

  <div *ngIf="doubleMajor && secondMajor">
    <h2>{{ secondMajor.name }} Courses</h2>
    <div *ngFor="let course of secondMajor.courses">
      <mat-checkbox
        (change)="onCourseChange(secondMajor, course.value, $event)">
        {{ course.label }}
      </mat-checkbox>
    </div>
  </div>

  <!-- Display Total Credits and Conclusion -->
  <div class="totals">
    <h3>Total Credits Selected: {{ totalCredits }}</h3>
    <p class="conclusion">{{ conclusionMessage }}</p>
  </div>

</div>
